{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": "airbnb",
    "rules": {
        "linebreak-style": "off",
        "no-mixed-operators": "off",
        "no-control-regex": "off",
        "no-useless-escape": "off",
        "no-param-reassign": ["error", { "props": false }],
        "indent": ["error", 4]
    }
}
